@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Black.eot');
    src: url('/fonts/nohemi/Nohemi-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Black.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Black.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Bold.eot');
    src: url('/fonts/nohemi/Nohemi-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Bold.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Bold.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-ExtraBold.eot');
    src: url('/fonts/nohemi/Nohemi-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-ExtraBold.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-ExtraBold.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-ExtraLight.eot');
    src: url('/fonts/nohemi/Nohemi-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-ExtraLight.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-ExtraLight.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Light.eot');
    src: url('/fonts/nohemi/Nohemi-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Light.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Light.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Medium.eot');
    src: url('/fonts/nohemi/Nohemi-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Medium.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Medium.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Regular.eot');
    src: url('/fonts/nohemi/Nohemi-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Regular.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Regular.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-SemiBold.eot');
    src: url('/fonts/nohemi/Nohemi-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-SemiBold.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-SemiBold.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi/Nohemi-Thin.eot');
    src: url('/fonts/nohemi/Nohemi-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nohemi/Nohemi-Thin.woff') format('woff'),
         url('/fonts/nohemi/Nohemi-Thin.woff2') format('woff2'),
         url('/fonts/nohemi/Nohemi-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
