@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nohemi';
  background-color: black;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
